# Author        : Andy Perrett 
# Email         : 18684092@students.lincoln.ac.uk
# Module        : CMP9794M
# Date          : 28/10/2022
# Description   : Config File for assignment 1
# Format        : parameter:value

# Commands are "common:", "File:" which choose the dictionaries the variables will
# be entered into and have no variable value. These sit on a line by themselves.

# All variables will be converted to lowercase, their values will not be.

# Possible variables are LearnFile, TestFile, Given, Out, Log, Laplacian, logging
# Display, Question

# Comment lines start with #
# Blank lines are ignored

# Task 1 - Naive Bayes

# Common means variables for all models and or the program itself
Common:
Log:True
Laplacian:True

# For Heart Dataset
File:
LearnFile:data/heart-data-discretized-train.csv
TestFile:data/heart-data-discretized-test.csv
given:target
out:results/heart
Structure:Absolutely-no-idea
question:P(gender='Female'|target='0')
question:P(gender='Male'|target='1')

# For stroke Dataset
File:
LearnFile:data/stroke-data-discretized-train.csv
TestFile:data/stroke-data-discretized-test.csv
Given:stroke
Out:results/stroke
Structure:Absolutely-no-idea
question:P(gender='Female'|stroke='0')
question:P(gender='Male'|stroke='1')

# More common variables
Common:
# Logging will write general output to a log file
Logging:True
# Display will cause program output to be displayed on screen
Display:True